@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import 'tailwindcss';

@layer base {
	html,
	body {
		height: 100vh;
		width: 100vw;
		overflow: hidden;
		user-select: none;
		color: #e5e7eb;
		font-family: 'Inter', system-ui, -apple-system, Segoe UI, Roboto,
			sans-serif;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}

	*:focus {
		outline: none;
	}

	::-webkit-scrollbar {
		width: 4px;
		height: 0;
	}

	::-webkit-scrollbar-thumb {
		background-color: #ffffff20;
		border-radius: 4px;
	}
}
